@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

* h1{
    color:white;
    
}

body {
    
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #09151d;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none; 
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;

}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
    text-decoration: none;
    
}

.about{
    background-color: #081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

}

.about-content{

}
.about h1{
    position: relative;
    left: 750px;
    margin-top: 100px;
    font-size: 60px;
    

}

.home {
    height: 100vh;
    background-color: #081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{

    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
    text-decoration: none;
}

.btn-box a:nth-child(2):hover {
    color:#081b29;
    text-decoration: none;
}

.btn-box a:hover {
    color:#00abf0;
    text-decoration: none;
}


.btn-box a:nth-child(2)::before{
    background-color: #00abf0;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: relative;
    position: absolute;
    bottom: 160px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
    margin: 30px;
    right: 120px;
    bottom: 220px;    
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
    text-decoration: none;
}

.home-sci a:hover::before {
    width: 100%;
    text-decoration: none;
}

.home-sci a:hover{
    color: #081b29;
    text-decoration: none;
}

* p {
    color: white;
}
.about p{
    width: 520px;
    position: relative;
    left: 530px;
    margin-top: 10px;
    text-align: end;

}

.about-content h1 {
    font-weight: 700;
}

.progress-container{
    position: relative;
    right:300px;
    bottom: 260px;
    background-color: #09151d;
    width: 700px;
    height: 250px;
    border-radius: 36pt;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.progress-bar{
    border-radius: 25pt;
}

a {

     text-decoration: none;
}

.portfolio-container{
    background-color: #081b29;
    display: flex;
    justify-content: center;
}

.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:transparent;
    width: 1500px;
    height: 900px;
    max-width: 1300px;

}

.portfolio-box1, .portfolio-box2, .portfolio-box3, .portfolio-box4, .portfolio-box5, .portfolio-box6{

    background-color: #09151d;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}


