.accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-title {
    background-color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  .accordion-content p,
  .accordion-content ul {
    margin: 0;
  }