.accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-title {
    background-color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  .accordion-content p,
  .accordion-content ul {
    margin: 0;
  }

  .notification {
    background-color: #333;
    color:#fff;
    width: 150px;
    height: 40px;
    position: relative;
    align-self: center;
    margin: 40px;
  }

  #toast {
    position: absolute;
    visibility: hidden; 
    min-width: 250px;
    height: 40px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    top: 100px;
    right: 50px;
    font-size: 17px;
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 1s;

}

#toast.show {
    visibility: visible; 
    opacity: 1;


}

